.popup__input-container {
    display: grid;
    gap: 30px;
    margin: 54px 0 48px;
    padding: 0;
    border: none;
}

@media screen and (max-width: 767px) {
    .popup__input-container {
        margin: 75px 0 45px;
    }
}