.popup__content {
    padding: 155px 0 0;
    min-width: 282px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
    .popup__content {
        padding: 87px 50px 0;
        width: calc(100% - 50px*2);
    }
}

@media screen and (max-width: 424px) {
    .popup__content {
        padding: 87px 19px 0;
        width: calc(100% - 19px*2);
    }
}