.profile__add-button {
    margin: 0;
    padding: 0;
    min-width: 150px;
    min-height: 50px;
    align-self: center;
    background: rgba(0, 0, 0, 0) url(../../../images/add-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px #FFFFFF solid;
    box-sizing: border-box;
}