@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

.page {
    background-color: #000000;

    padding: 0 200px;
    margin: 0 auto;
    max-width: 1280px;
    min-width: 320px;
    position: relative;
    box-sizing: border-box;

}

@media screen and (max-width: 1279px) {
    .page {
        padding: 0 150px 0;
    }
}

@media screen and (max-width: 1023px) {
    .page {
        padding: 0 100px 0;
    }
}

@media screen and (max-width: 767px) {
    .page {
        padding: 0 50px 0;
    }
}

@media screen and (max-width: 424px) {
    .page {
        padding: 0 20px 0;
    }
}

.header {
    width: 100%;
    min-height: 75px;
    border-bottom: 1px #545454FF solid;
}

.header__logo {
    width: 142px;
    height: 33px;
}

.profile {
    width: 100%;
    flex-wrap: nowrap;
    margin: 0;
    padding: 40px 0 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    /*   grid-auto-flow: column;
    align-items: center;
justify-self: center;
    grid-template-columns: max-content 1fr max-content;*/
    color: #fff;
}

.profile__wrapper {
    display: flex;
}

.profile__avatar {

    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}



.profile__info {
    max-width: 600px;
    padding: 22px 0 0 30px;
    margin: 0;
    display: grid;
    gap: 0px 18px;
    align-items: baseline;
    grid-template-columns: 1fr max-content;
    grid-template-areas:
        "profile__name""profile__edit-button"
        "profile__activity"".";
}

.profile__name {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.14;
    color: #FFFFFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.profile__about {

    margin: 0;
    padding: 16px 0 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.profile__edit-button {
    margin: 0 0 0;
    background: rgba(0, 0, 0, 0) url(../images/edit-logo.svg);
    background-repeat: no-repeat;

    background-position: center;
    width: 24px;
    height: 24px;
    border: 1px #FFFFFF solid;
}

.profile__add-button {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 150px;
    height: 50px;
    align-self: center;
    background: rgba(0, 0, 0, 0) url(../images/add-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px #FFFFFF solid;
}

.profile__logo {
    width: 10px;
    min-height: 10px;
}

.element {
    /*display: grid;
    grid-template-areas: "element__photo element__like-button"
    "element__title element__like-button";
    grid-auto-flow: column;*/

    width: 100%;
    height: max-content;
    margin: 0;
    padding: 0;
    background-color: #fff;

    border-radius: 10px;
    overflow: hidden;


}

.element__group {
    display: flex;
    justify-content: space-between;
    padding: 25px 15px 31px 21px;
    margin: 0;

}

.element__title {
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    padding: 0;
    width: 100%;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}

.elements {
    padding: 50px 0 0;
    margin: 0;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 17px 20px;
    grid-auto-flow: row;
}

@media screen and (max-width: 767px) {
    .elements {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 424px) {
    .elements {
        grid-template-columns: 1fr;
    }
}

.element__photo {

    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.element__photo-wrapper {
    grid-area: element__photo;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.element__like-button {
    padding: 0;
    margin: 0;
    align-self: center;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../images/logo-like.svg) ;
    background-repeat: no-repeat; 
    background-position: center;
    background-size: 100% 100%;
    height: 19px;
    width: 22px;
    border: none;
}

.element__like-button:hover {
    opacity: 0.5;
}

.element__like-button_active {
    background-image: url(../images/logo-like-active.svg);
}

.popup {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 0, 0, 0.5);
    color: #ffffff;
    z-index: 2;
    /* ?? */
}

.hidden {
    display: none;
}



.popup__close-button {
    align-self: flex-end;
    margin: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    background: rgba(0, 0, 0, 0) url(../images/close-icon.svg);
    border: none;


}

.popup__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 195px;
    align-self: center;
}

.form__field {
    display: block;
}

.popup__form {
    color: #000000;
    width: 430px;
    height: 330px;

    top: 195px;
    margin: 0 auto;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 10px;
}